@import "../../app.scss";

.hero {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;
  
    .wrapper {
      max-width: 1366px;
      margin: auto;
      height: 100%;

      @include mobile {
        padding-left: 50px; 
      }
  
      .textContainer {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;

        @include mobile {
          height: 50%;
          width: 100%;
          gap: 20px;
          align-items: center;
          text-align: center;
        }

        @include laptop {
          width: 80%;
          padding-top: 80px;
          padding-left: 20px;
        }
  
        h2 {
          font-size: 30px;
          color: rebeccapurple;
          letter-spacing: 10px;
        }
  
        h1 {
          font-size: 88px;

          @include mobile {
            font-size: 36px;
          }

          @include laptop {
            font-size: 72px;
          }
        }
  
        .buttons {
            button {
              padding: 20px;
              border: 1px solid white;
              border-radius: 10px;
              background-color: transparent;
              color: white;
              margin-right: 20px;
              cursor: pointer;
              font-weight: 300;
              position: relative;
              z-index: 2;
              transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
          
              &:hover {
                background-color: white;
                color: #111132;
                transform: scale(1.1); // Slightly larger on hover
              }
          
              &:active {
                animation: clickAnimation 0.2s ease-out;
              }
          
              @keyframes clickAnimation {
                0% {
                  transform: scale(1);
                }
                50% {
                  transform: scale(0.9);
                }
                100% {
                  transform: scale(1);
                }
              }
            }
          }
          
  
        img {
          width: 50px;
        }
      }
    }
  
    .imageContainer {
      height: 100%;
      width: 30%;
      position: absolute;
      top: 60px;
      right: 160px;
    
      @include mobile {
        display: none; 
      }
    
      @include laptop {
        width: 30%; /* Adjust the width as needed */
        right: 140px;
        top: -0px;
      }
    
      img {
        width: 100%; /* Set the width of the image to 100% */
        height: auto; /* Maintain aspect ratio */
      }
    }
    
  
    .slidingTextContainer {
      position: absolute;
      font-size: 50vh;
      bottom: -120px;
      white-space: nowrap;
      color: #ffffff09;
      width: 50%;
      font-weight: bold;
      z-index: 1; // Add this line
    }
  }

  
  