@import "../../app.scss";

.portfolio {
  position: relative;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: orange;
    font-size: 36px;

    @include mobile {
      padding-top: calc(100vh - 100px);
      font-size: 24px;
    }

    @include laptop {
      font-size: 24px;
      padding-top: 30px;
    }

    .progressBar {
      height: 10px;
      background-color: white;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
      }

      .imageContainer {
        flex: 1;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: 100%;
          height: 250px;
          margin-top: 20px;
        }

        @include laptop {
          padding-left: 20px;
          height: 400px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          max-width: 100%;
          display: block;
        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include mobile {
          transform: none !important;
          padding: 10px;
          align-items: center;
          text-align: center;
        }

        h2 {
          font-size: 72px;

          @include mobile {
            font-size: 36px;
          }

          @include laptop {
            font-size: 48px;
          }
        }

        p {
          color: gray;
          font-size: 20px;

          @include mobile {
            font-size: 16px;
          }

          @include laptop {
            padding-right: 30px;
          }
        }

        button {
          background-color: orange;
          border: none;
          border-radius: 10px;
          padding: 10px;
          width: 200px;
          cursor: pointer;
        }
      }
    }
  }
}